@page "/Dashboard"
@page "/"
@attribute [Authorize(Roles = RoleName.Admin + "," + RoleName.Staff + "," + RoleName.Shipper)]
@using PoPoy.Shared.ViewModels.DashBoard;
@inject IConfiguration _config;
<div class="pagetitle">
    <h1>Thống kê</h1>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">

                <!-- Sales Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="javascript:void(0)" @onclick="() => LoadDataReport(new ReportSearchModel{ReportDate = ReportDateType.Day, ReportType = ReportType.Order})">Ngày</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)" @onclick="() => LoadDataReport(new ReportSearchModel{ReportDate = ReportDateType.Month, ReportType = ReportType.Order})">Tháng</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)" @onclick="() => LoadDataReport(new ReportSearchModel{ReportDate = ReportDateType.Year, ReportType = ReportType.Order})">Năm</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            @{
                                var titleOrder = ReportOrder.DateType == ReportDateType.Day ? "ngày" : ReportOrder.DateType == ReportDateType.Month ? "tháng" : "năm";
                            }
                            <h5 class="card-title">Đơn hàng <span>| trong @titleOrder</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-cart"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ReportOrder?.Count</h6>
                                    <span>@(ReportOrder.IsDecrease ? "Giảm " : "Tăng ") </span><span class="@(ReportOrder.IsDecrease ? "text-danger" : "text-success") small pt-1 fw-bold">  @ReportOrder?.Percent</span> <span class="text-muted small pt-2 ps-1"> <i class="fa-solid fa-repeat"></i> @titleOrder trước</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Sales Card -->
                <!-- Revenue Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0)" @onclick="() => LoadDataReport(new ReportSearchModel{ReportDate = ReportDateType.Day, ReportType = ReportType.Income})">Ngày</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)" @onclick="() => LoadDataReport(new ReportSearchModel{ReportDate = ReportDateType.Month, ReportType = ReportType.Income})">Tháng</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)" @onclick="() => LoadDataReport(new ReportSearchModel{ReportDate = ReportDateType.Year, ReportType = ReportType.Income})">Năm</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            @{
                                var titleInCome = ReportInCome.DateType == ReportDateType.Day ? "ngày" : ReportInCome.DateType == ReportDateType.Month ? "tháng" : "năm";
                            }
                            <h5 class="card-title">Thu Nhập <span>| trong @titleInCome</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-dollar"></i>
                                </div>
                                <div class="ps-3">
                                    <RadzenText TextStyle="TextStyle.DisplayH6" Text=@($"{String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C}", double.Parse(ReportInCome == null ? "0" : ReportInCome?.Count)).Replace("₫", "VNĐ")}")></RadzenText>
                                    @*<h6>@($"{String.Format(new System.Globalization.CultureInfo("vi-VND"), "{0:C}", ReportInCome.Count).Replace(",00","")}") VNĐ</h6>*@
                                    <span>@(ReportInCome.IsDecrease ? "Giảm " : "Tăng ") </span>  <span class="@(ReportInCome.IsDecrease ? "text-danger" : "text-success") small pt-1 fw-bold">@ReportInCome.Percent</span> <span class="text-muted small pt-2 ps-1"><i class="fa-solid fa-repeat"></i> @titleInCome trước</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Revenue Card -->
                <!-- Customers Card -->
                <div class="col-xxl-4 col-xl-12">

                    <div class="card info-card customers-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" @onclick="() => LoadDataReport(new ReportSearchModel{ReportDate = ReportDateType.Day, ReportType = ReportType.Customer})">Ngày</a></li>
                                <li><a class="dropdown-item" @onclick="() => LoadDataReport(new ReportSearchModel{ReportDate = ReportDateType.Month, ReportType = ReportType.Customer})">Tháng</a></li>
                                <li><a class="dropdown-item" @onclick="() => LoadDataReport(new ReportSearchModel{ReportDate = ReportDateType.Year, ReportType = ReportType.Customer})">Năm</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            @{
                                var titleCustomer = ReportCustomer.DateType == ReportDateType.Day ? "ngày" : ReportInCome.DateType == ReportDateType.Month ? "tháng" : "năm";
                            }
                            <h5 class="card-title">Khách hàng <span>| trong @titleCustomer</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ReportCustomer.Count</h6>
                                    <span>@(ReportCustomer.IsDecrease ? "Giảm " : "Tăng ") </span> <span class="@(ReportCustomer.IsDecrease ? "text-danger" : "text-success") small pt-1 fw-bold">@ReportCustomer.Percent</span> <span class="text-muted small pt-2 ps-1"><i class="fa-solid fa-repeat"></i> @titleCustomer trước</span>

                                </div>
                            </div>

                        </div>
                    </div>

                </div><!-- End Customers Card -->
                <!-- Reports -->
                <div class="col-12">
                    <div class="card">

                        @*    <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item">Ngày</a></li>
                                    <li><a class="dropdown-item" @onclick="() => LoadDataReport(new ReportSearchModel{ReportDate = ReportDateType.Month, ReportType = ReportType.Customer})">Tháng</a></li>
                                    <li><a class="dropdown-item" @onclick="() => LoadDataReport(new ReportSearchModel{ReportDate = ReportDateType.Year, ReportType = ReportType.Income})">Năm</a></li>
                                </ul>
                            </div>*@

                        <div class="card-body">
                            <h5 class="card-title">Thu nhập trong tháng <span></span></h5>

                            <!-- Line Chart -->
                            <div id="reportsChart">

                                @*   <RadzenChart >
                                        <RadzenAreaSeries  Smooth="true" Data="@orderChart" CategoryProperty="Date" Title="Tuan nay" ValueProperty="Count" RenderingOrder="1">
                                            <RadzenSeriesDataLabels Visible="true" />
                                        </RadzenAreaSeries>

                                        <RadzenCategoryAxis  Padding="20" Formatter="@FormatAsMonth" />
                                        <RadzenValueAxis Formatter="@FormatAsUSD">
                                            <RadzenGridLines Visible="true" />
                                            <RadzenAxisTitle Text="Revenue in USD" />
                                        </RadzenValueAxis>
                                    </RadzenChart>*@

                                <RadzenChart>
                                    <RadzenAreaSeries Smooth="true" Data="@orderChart.ChartNew" CategoryProperty="Date" Title="Tháng này" ValueProperty="Count" RenderingOrder="1">
                                        <RadzenSeriesDataLabels />
                                    </RadzenAreaSeries>
                                    <RadzenAreaSeries Smooth="true" Data="@orderChart.ChartOld" CategoryProperty="Date" Title="Tháng trước" LineType="LineType.Dashed" ValueProperty="Count">
                                        <RadzenSeriesDataLabels />
                                    </RadzenAreaSeries>
                                    <RadzenCategoryAxis Padding="20" Formatter="@FormatAsDay" />
                                    <RadzenValueAxis Formatter="@FormatAsPrice">
                                        <RadzenGridLines Visible="true" />
                                        <RadzenAxisTitle Text="VND" />
                                    </RadzenValueAxis>
                                </RadzenChart>
                            </div>


                            <!-- End Line Chart -->

                        </div>

                    </div>
                </div><!-- End Reports -->
                <!-- Recent Sales -->
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">
                        @*
                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>*@

                        <div class="card-body">
                            <h5 class="card-title">Đơn hàng <span>| mới nhất</span></h5>

                            <table class="table table-borderless datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Thời gian</th>
                                        <th scope="col">Người mua</th>
                                        <th scope="col">Sản phẩm</th>
                                        <th scope="col">Giá</th>
                                        <th scope="col">Trạng thái</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in orderNews)
                                    {
                                        <tr>
                                            <th scope="row"><a href="/order/@item.OrderId">#@item.OrderId</a></th>
                                            <td>@AppExtensions.TimeAgo(item.Date)</td>
                                            <td>@item.FullName</td>
                                            <td><a href="/order/@item.OrderId" class="text-primary">@item.ProductName</a></td>
                                            <td>@($"{String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C}", item.Price).Replace("₫", "VNĐ")}")</td>
                                            @switch (item.Status)
                                            {
                                                case OrderStatus.Processing:
                                                    <td><span class="badge bg-warning">Đang chờ duyệt</span></td>
                                                    break;
                                                case OrderStatus.Confirmed:
                                                    <td><span class="badge bg-info">Đang chờ shipper</span></td>
                                                    break;
                                                case OrderStatus.Delivering:
                                                    <td><span class="badge bg-primary">Đang vận chuyển</span></td>
                                                    break;
                                                case OrderStatus.Delivered:
                                                    <td><span class="badge bg-success">Thành công</span></td>
                                                    break;
                                                case OrderStatus.Cancelled:
                                                    <td><span class="badge bg-danger">Thất bại</span></td>
                                                    break;
                                            }

                                        </tr>
                                    }

                                </tbody>
                            </table>

                        </div>

                    </div>
                </div><!-- End Recent Sales -->
                <!-- Top Selling -->
                <div class="col-12">
                    <div class="card top-selling overflow-auto">

                        <div class="card-body pb-0">
                            <h5 class="card-title">Sản phẩm được mua nhiều nhất <span></span></h5>

                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col">Hình</th>
                                        <th scope="col">Sản phẩm</th>
                                        <th scope="col">Giá</th>
                                        <th scope="col">Đã bán</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in reportProductTops)
                                    {
                                        var path = item.Image == null ? @_config["BackendApiUrl"] + "/uploads/no-photo-available.png" : item.Image;

                                        <tr>
                                            <th scope="row"><a href="#"><img src="@path" alt=""></a></th>
                                            <td><a href="#" class="text-primary fw-bold">@item.ProductName</a></td>
                                            <td>@FormatAsPrice(item.Price)</td>
                                            <td class="fw-bold">@item.Count</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>

                        </div>

                    </div>
                </div><!-- End Top Selling -->

            </div>
        </div><!-- End Left side columns -->
        <!-- Right side columns -->
        <div class="col-lg-4">

            <!-- Recent Activity -->
            <div class="card">
                @*  <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                                <h6>Filter</h6>
                            </li>

                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                    </div>*@

                <div class="card-body">
                    <h5 class="card-title">Hoạt động <span></span></h5>

                    <div class="activity">

                        @foreach (var noti in notifications)
                        {
                            <div class="activity-item d-flex">
                                <div class="activite-label" style="max-width: 25%;
    min-width: 25%;">
                                    @AppExtensions.TimeAgo(noti.CreatedDate)
                                </div>
                                <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                                <div style="max-width: 70%" class="activity-content">
                                    @if (noti.IsCustommer)
                                    {
                                        <span class="fw-bold text-dark">Hoạt động của @noti.FullName: </span>
                                    }  @noti.Message
                                </div>
                            </div>

                            <!-- End activity item-->
                        }


                    </div>

                </div>
            </div><!-- End Recent Activity -->
            <!-- Budget Report -->
            <div class="card">

                <div class="card-body pb-0">
                    <h5 class="card-title">Tình trạng đơn hàng</h5>

                    <div id="budgetChart" style="min-height: 400px;" class="echart">

                        <RadzenChart>
                            <RadzenPieSeries Data="@reportOrderStatus" Title="Tổng đơn hàng" CategoryProperty="Name" ValueProperty="Count">
                                <RadzenSeriesDataLabels Visible="false" />
                            </RadzenPieSeries>
                        </RadzenChart>
                    </div>



                </div>
            </div><!-- End Budget Report -->

        </div><!-- End Right side columns -->

    </div>
</section>