@inject IAuthService AuthService
@inject ILocalStorageService LocalStorage
@inject IAreaService _area
<div class="information_module">
    <a href="javascript:void(0)" class="toggle_title astext" data-toggle="collapse" @onclick="InitAddress">
        <h4>
            Nhập địa chỉ
            <span class="fal fa-chevron-down"></span>
        </h4>
    </a>
    @if (editAddress)
    {
        <EditForm Model="address" OnValidSubmit="SubmitAddress">
            <div class="information__set toggle_module collapse show" id="changepass-collapse">
                <div class="information_wrapper form--fields">
                    <div class="form-group">
                        <label>Thành phố/ Tỉnh <sup>*</sup></label>
                        @if (province.results != null)
                        {

                            <select id="province" @onchange="e=>OnChange(e,onchangeProvince)" class="form-control">

                                @if (address.City == null)
                                {
                                    <option value="" selected disabled> Chọn thành phố / tỉnh</option>
                                }

                                @foreach (var item in province.results)
                                {
                                    if (item.name.Trim().ToLower().Equals(address.City.ToLower()))
                                    {
                                        <option value="@item.code" selected>@item.name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.code">@item.name</option>
                                    }
                                }
                            </select>

                        }
                    </div>
                    <div class="form-group">
                        <label>Quận/ Huyện <sup>*</sup></label>

                        @if (district.results != null)
                        {

                            <select id="district" @onchange="e=>OnChange(e,onchangeDistrict)" class="form-control">
                                @if (address.District == null)
                                {
                                    <option value="" selected disabled> Chọn quận / huyện</option>
                                }

                                @foreach (var item in district.results)
                                {
                                    if (item.name.Trim().ToLower().Equals(address.District.Trim().ToLower()))
                                    {
                                        <option value="@item.code" selected>@item.name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.code">@item.name</option>
                                    }

                                }
                            </select>

                        }
                    </div>
                    <div class="form-group">
                        <label>Phường/ Xã <sup>*</sup></label>
                        @if (commune.results != null)
                        {

                            <select id="commune" @onchange="e=>OnChange(e,onchangeCommune)" class="form-control">
                                @if (address.Ward == null)
                                {
                                    <option value="" selected disabled> Chọn phường / xã</option>
                                }

                                @foreach (var item in commune.results)
                                {
                                    if (item.name == address.Ward)
                                    {
                                        <option value="@item.code" selected>@item.name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.code">@item.name</option>
                                    }
                                }
                            </select>

                        }
                    </div>
                    <div class="form-group">
                        <label>Đường/ Thôn <sup>*</sup></label>
                        <InputText id="street" @bind-Value="address.Street" class="form-control" />
                    </div>
                    <div class="form-group" style="margin-bottom:0; text-align:right">
                        <button class="btn btn--xs" type="submit">Lưu</button>
                    </div>
                </div>
            </div>
        </EditForm>
    }
    else if (address is not null)
    {
        <div class="author_module about_author">
            <p><span class="indam">Địa chỉ:</span> @address.Street, @address.Ward, @address.District, @address.City</p>
        </div>
    }
</div>
@code {
    private Address address { get; set; } = new Address();
    bool editAddress = false;
    public Area province { get; set; } = new Area();
    public Area district { get; set; } = new Area();
    public Area commune { get; set; } = new Area();
    int onchangeProvince = 1;
    int onchangeDistrict = 2;
    int onchangeCommune = 3;
    protected override async Task OnInitializedAsync()
    {
        var userId = await LocalStorage.GetItemAsync<Guid>("getUserId");
        var temp = await AuthService.GetAddress(userId);
        if (temp is not null)
        {
            address = new Address();
            address = temp;
        }
        province = await _area.GetProvince();
        district = await _area.GetDistrict(address.City != null ?
                    province.results.FirstOrDefault(x => x.name == address.City).code :
                    province.results.FirstOrDefault().code);
        commune = await _area.GetComune(address.District != null ?
                    district.results.FirstOrDefault(x => x.name == address.District).code :
                    district.results.FirstOrDefault().code);
    }

    private async Task SubmitAddress()
    {
        var userId = await LocalStorage.GetItemAsync<Guid>("getUserId");
        address = await AuthService.AddOrUpdateAddress(address, userId);
        InitAddress();
    }

    private void InitAddress()
    {
        //address = new Address();
        editAddress = editAddress == true ? false : true;
    }

    private void EditAddress()
    {
        editAddress = true;
    }
    private async void OnChange(ChangeEventArgs args, int p)
    {
        if (args.Value == null)
        {
            address.City = null;
            address.District = null;
            address.Ward = null;
            return;
        }

        switch (p)
        {
            case 1:
                address.City = province.results.FirstOrDefault(x => x.code == args.Value.ToString()).name;
                district = await _area.GetDistrict(args.Value.ToString());

                address.District = district.results.FirstOrDefault().name;

                commune = await _area.GetComune(district.results.FirstOrDefault().code);
                address.Ward = commune.results.FirstOrDefault().name;
                break;
            case 2:
                address.District = district.results.FirstOrDefault(x => x.code == args.Value.ToString()).name;
                commune = await _area.GetComune(args.Value.ToString());
                address.Ward = commune.results.FirstOrDefault().name;
                break;
            case 3:
                address.Ward = commune.results.FirstOrDefault(x => x.code == args.Value.ToString()).name;
                break;
            default:
                break;
        }

        StateHasChanged();
    }
}
