@inject IOrderService _svc;
@implements IDisposable;
@inject NavigationManager NavigationManager;
@inject IBroadCastService broadCastService;
@inject DialogService dialogService;


<div class="chat_area cardify">
    <div class="chat_area--title">
        <h3>Lịch sử mua hàng <span class="name">chi tiết</span></h3>
    </div>
    <div class="chat_area--conversation">
        <div class="conversation">
            @if (_svc.ListOrderDetailsResponse == null)
            {
                <LoadingScreen></LoadingScreen>
            }
            else
            {
                <div class="head">
                    <div class="chat_avatar">
                        @*<img src="@_svc.ListOrderDetailsResponse.Products.FirstOrDefault().ProductImages.FirstOrDefault().ImagePath" alt="SW (Bá) avatar">*@
                    </div>
                    <div class="name_time">
                        <div>
                            <div class="row">
                                <div class="col-6">
                                    <h4>@_svc.ListOrderDetailsResponse.TotalPrice<sup>VND</sup></h4>
                                </div>
                                <div class="col-6">
                                    <p>@_svc.ListOrderDetailsResponse.OrderDate</p>
                                </div>
                            </div>


                        </div>
                        <span class="paymentmode">Phương thức thanh toán: @_svc.ListOrderDetailsResponse.PaymentMode</span>
                        <br />
                        <span class="orderstatus">Trạng thái đơn hàng: @_svc.ListOrderDetailsResponse.OrderStatus</span>
                    </div>
                </div>
                <div class="body" style="word-break: break-word;">
                    <p>
                        <br>
                    </p>
                    @if (_svc.ListOrderDetailsResponse.Products != null)
                    {
                        <div class="row">

                            @foreach (var item in _svc.ListOrderDetailsResponse.Products)
                            {
                                <div class="col-8">
                                    <p><a href="/product-detail/@item.ProductId">@item.Title</a></p>
                                    <p>Size: @item.ProductSize</p>
                                    <p>Số lượng: @item.Quantity</p>
                                    <div class="d-flex">
                                         <RadzenButton Icon="rate_review" ButtonStyle="ButtonStyle.Primary" Variant="Variant.Outlined"
                                    Click="()=>OpenRate(item.ProductId)" Text="Đánh giá"></RadzenButton>
                                        <RadzenButton class="ml-3" Icon="ios_share" ButtonStyle="ButtonStyle.Primary" Variant="Variant.Outlined"
                                          Click="()=>ViewDetail(item.OrderId)" Text="Xem chi tiết "></RadzenButton>
                                     </div>
                                    @*<button class="btn btn-outline-secondary" style="height: 40px; width: 100px"
                                @onclick="@(() => WriteReview(item))">
                                        Đánh giá sản phẩm này
                                    </button>*@
                                </div>
                                <div class="col-4">
                                    @try
                                    {
                                        @if (item.ProductImages != null || item.ProductImages.Count > 0)
                                        {
                                            @foreach (var item2 in item.ProductImages)
                                            {
                                                <div class="col-4">
                                                    <p><img src="@item2.ImagePath" alt="" class="fr-dii fr-draggable" title=""><br></p>
                                                </div>
                                            }
                                        }
                                    }
                                    catch { }

                                </div>

                            }

                        </div>

                    }
                </div>

            }
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        _svc.OrderDetailsChanged += StateHasChanged;
    }

    public void Dispose()
    {
        _svc.OrderDetailsChanged -= StateHasChanged;
    }

    private void WriteReview(OrderDetailsProductResponse particular)
        => NavigationManager.NavigateTo($"/products/{particular.ProductId}/review/new");

    public async Task OpenRate(int productId)
    {
        await dialogService.OpenAsync<PoPoy.Client.Pages.OrderView.Rate>($"Đánh giá sản phẩm",
              new Dictionary<string, object>() { { "ProductId", productId }, { "Mode", FormEditMode.New } },
              new DialogOptions() { Width = "400px", Height = "312px", Resizable = true, Draggable = false, CssClass = "modal-content" });

    }

    private async void SendChat(OrderDetailsProductResponse product){
        await broadCastService.SendInfoOrderModel(product, _svc.ListOrderDetailsResponse);
        await OpenChat();
    }
    private void ViewDetail ( string orderID)
      => NavigationManager.NavigateTo($"/order/{orderID}");

    public async Task OpenChat()
    {
        await dialogService.OpenAsync<PoPoy.Client.Pages.Chat.Chat>("Hộp thư", options: new DialogOptions() { Width = "1200px", Height = "712px", Resizable = true, Draggable = true, CssClass = "modal-content", CloseDialogOnOverlayClick = true });

    }
}
