@inject IOrderService _svc;
@inject IToastService _toastSvc;
@inject NavigationManager NavigationManager;
<div class="cardify messaging_sidebar">
    @try
    {
        if (_svc.ListOrderResponse.Items != null || _svc.ListOrderResponse.Items.Count > 0)
        {
            <div class="messaging__header">
                <div class="messaging_menu ">
                    <a href="#" id="drop2" class="dropdown-toggle dropdown-trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="fal fa-inbox"></span>Lịch sử
                        <span class="msg">@_svc.ListOrderResponse.Items.Count()</span>

                    </a>
                </div>
            </div>
            <div class="messaging__contents">
                <div class="messages">

                    @foreach (var item in _svc.ListOrderResponse.Items)
                    {
                        <div class="message">
                            <div class="message__actions_avatar">
                                <div class="avatar">
                                    <img src="@item.ProductImageUrl" alt="">
                                </div>
                            </div>
                            <div class="message_data" @onclick="()=>Clicked(item.Id)">
                                <div class="name_time">
                                    <div class="name">
                                        <p>@item.TotalPrice<sup>VND</sup></p>
                                    </div>
                                    <span class="time">@item.OrderDate</span>
                                    <p>@item.Product</p>
                                </div>
                            </div>
                            <div class="d-flex">
                                @if (item.OrderStatus != OrderStatus.Cancelled)
                            {
                                <RadzenButton class="ml-3" Icon="ios_share" ButtonStyle="ButtonStyle.Primary" Variant="Variant.Outlined" Text="Hủy đơn hàng"
                              Click="args => OnDeleteTask(item.Id)"></RadzenButton>
                            }
                            <RadzenButton class="ml-3" Icon="ios_share" ButtonStyle="ButtonStyle.Primary" Variant="Variant.Outlined"
                              Click="()=>ViewDetail(item.Id)" Text="Xem chi tiết "></RadzenButton>
                            </div>
                        </div>

                    }
                    <Pagination MetaData="@_svc.ListOrderResponse.MetaData" Spread="2" SelectedPage="SelectedPage" />

                </div>
            </div>
        }
    }
    catch { }
</div>
<Confirmation ConfirmationMessage="Tiếp tục?"
              ConfirmationTitle="Hủy đơn hàng"
              @ref="DeleteConfirmation"
              ConfirmationChanged="OnConfirmDeleteTask">

</Confirmation>
@code {
    [Parameter]
    public string id { get; set; }
    public string OrderId { get; set; } = null;
    private Confirmation DeleteConfirmation { set; get; }
    private ProductParameters _productParameters = new ProductParameters();
    protected override async Task OnInitializedAsync()
    {
        await GetOrders();
    }
    private async Task SelectedPage(int page)
    {
        _productParameters.PageNumber = page;

        await GetOrders();
    }
    public async Task GetOrders()
    {
        await _svc.GetOrders(_productParameters);
        await _svc.GetOrderDetails(_svc.ListOrderResponse.Items.FirstOrDefault().Id.ToString());
    }
    public async void Clicked(string id)
    {
        await _svc.GetOrderDetails(id);
    }
    public void OnDeleteTask(string orderId)
    {
        OrderId = orderId;
        DeleteConfirmation.Show();
    }

    public async Task OnConfirmDeleteTask(bool deleteConfirmed)
    {
        if (deleteConfirmed)
        {
            await _svc.CancelOrder(OrderId);
            await GetOrders();
            StateHasChanged();
        }
    }
    private void ViewDetail(string orderID)
      => NavigationManager.NavigateTo($"/order/{orderID}");
}
