@inject IOrderService _svc;
@implements IDisposable;
<div class="chat_area cardify">
    <div class="chat_area--title">
        <h3>Lịch sử mua hàng <span class="name">chi tiết</span></h3>
    </div>
    <div class="chat_area--conversation">
        <div class="conversation">
            @if (_svc.ListOrderDetailsResponse == null)
            {
                <LoadingScreen></LoadingScreen>
            }
            else
            {
                <div class="head">
                    <div class="chat_avatar">
                        @*<img src="@_svc.ListOrderDetailsResponse.Products.FirstOrDefault().ProductImages.FirstOrDefault().ImagePath" alt="SW (Bá) avatar">*@
                    </div>
                    <div class="name_time">
                        <div>
                            <h4>@_svc.ListOrderDetailsResponse.TotalPrice</h4>
                            <p>@_svc.ListOrderDetailsResponse.OrderDate</p>
                        </div>
                        @*<span class="email">sirltwyn@gmail.com</span>*@
                    </div>
                </div>
                <div class="body" style="word-break: break-word;">
                    <p>
                        <br>
                    </p>
                    @if (_svc.ListOrderDetailsResponse.Products != null)
                    {
                        <div class="row">

                            @foreach (var item in _svc.ListOrderDetailsResponse.Products)
                            {
                                <div class="col-6">
                                    <p><a href="/product-detail/@item.ProductId">@item.Title</a></p>
                                    <p>Size: @item.ProductSize</p>
                                </div>
                                <div class="col-6">
                                    @if (item.ProductImages != null || item.ProductImages.Count > 0)
                                    {
                                        @foreach (var item2 in item.ProductImages)
                                        {
                                        <div class="col-4">
                                            <p><img src="@item2.ImagePath" alt="Fix: Windows 11 Cannot Open Windows Security - Technipages" class="fr-dii fr-draggable" title="Fix: Windows 11 Cannot Open Windows Security - Technipages"><br></p>
                                        </div>
                                        }
                                    }
                                </div>


                            }

                        </div>

                    }
                </div>

            }
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        _svc.OrderDetailsChanged += StateHasChanged;
    }

    public void Dispose()
    {
        _svc.OrderDetailsChanged -= StateHasChanged;
    }
}
