@page "/product-detail/{id:int}"
@inject IProductService _productSvc;
@inject ILocalStorageService LocalStorage
@inject IToastService _toastSvc;
@inject ICartService _cartSvc;
@inject IConfiguration _config;

<PageInfos Title="@product.Title"></PageInfos>
<div class="bg-main">
    <div class="container">
        <div class="box">
            <div class="breadcumb">
                <a href="./index.html">home</a>
                <span><i class="bx bxs-chevrons-right"></i></span>
                <a href="./products.html">all products</a>
                <span><i class="bx bxs-chevrons-right"></i></span>
                <a href="./product-detail.html">JBL Tune 750TNC</a>
            </div>
        </div>
        <div class="row product-row">
            <div class="col-5">
                @try
                {
                    @if (product.ProductImages.Any())
                    {
                        <div class="product-img" id="product-img">
                            <img src="@product.ProductImages.FirstOrDefault().ImagePath" alt="">
                        </div>
                        <div class="box">
                            <div class="product-img-list">
                                @foreach (var item in product.ProductImages)
                                {
                                    <div class="product-img-item">
                                        <img src="@item.ImagePath" alt="">
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <img src="@_config["BackendApiUrl"]/uploads/no-photo-available.png" alt="">
                    }
                }
                catch { }


            </div>
            <div class="col-7">
                <div class="product-info">
                    <h1>
                        @product.Title <br />
                    </h1>
                    <div class="product-info-detail">
                        <span class="product-info-detail-title">Lượt xem:</span>
                        @product.Views
                    </div>
                    <div class="product-info-detail">
                        <span class="product-info-detail-title">Danh mục: </span>
                        @try{
                            if (product.ProductInCategories.Any())
                            {
                                @product.ProductInCategories.FirstOrDefault().Category.Name
                            }
                        }catch{}
                    </div>
                    <div class="product-info-detail">
                        <span class="product-info-detail-title">Rated:</span>
                        <span class="rating">
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                        </span>
                    </div>
                    <p class="product-description">
                        @product.Description
                    </p>
                    <div class="product-info-price">@product.Price.ToString("n0")</div>

                    <SelectQuantity Model="@cart" CartUpdateType="CartUpdateType.Add" />
                    <SelectSize Model="@cart" CartUpdateType="CartUpdateType.Add" Product_Id="@id"></SelectSize>
                    <div>
                        <button class="btn-flat btn-hover" @onclick="AddToCart">thêm vào giỏ hàng</button>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="box">
            <div class="box-header">
                description
            </div>
            <div class="product-detail-description">
                <button class="btn-flat btn-hover btn-view-description" id="view-all-description">
                    view all
                </button>
                <div class="product-detail-description-content">
                    @product.Description
                </div>
            </div>
        </div>*@
        <div class="box">
            <div class="box-header">
                review
            </div>
            <div>
                <div class="user-rate">
                    <div class="user-info">
                        <div class="user-avt">
                            <img src="./images/tuat.jpg" alt="">
                        </div>
                        <div class="user-name">
                            <span class="name">tuat tran anh</span>
                            <span class="rating">
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                            </span>
                        </div>
                    </div>
                    <div class="user-rate-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ea iste, veritatis nobis amet illum, cum alias magni dolores odio, eius quo excepturi veniam ipsa voluptatibus natus voluptas vero? Aspernatur!
                    </div>
                </div>
                <div class="user-rate">
                    <div class="user-info">
                        <div class="user-avt">
                            <img src="./images/tuat.jpg" alt="">
                        </div>
                        <div class="user-name">
                            <span class="name">tuat tran anh</span>
                            <span class="rating">
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                            </span>
                        </div>
                    </div>
                    <div class="user-rate-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ea iste, veritatis nobis amet illum, cum alias magni dolores odio, eius quo excepturi veniam ipsa voluptatibus natus voluptas vero? Aspernatur!
                    </div>
                </div>
                <div class="user-rate">
                    <div class="user-info">
                        <div class="user-avt">
                            <img src="./images/tuat.jpg" alt="">
                        </div>
                        <div class="user-name">
                            <span class="name">tuat tran anh</span>
                            <span class="rating">
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                            </span>
                        </div>
                    </div>
                    <div class="user-rate-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ea iste, veritatis nobis amet illum, cum alias magni dolores odio, eius quo excepturi veniam ipsa voluptatibus natus voluptas vero? Aspernatur!
                    </div>
                </div>
                <div class="user-rate">
                    <div class="user-info">
                        <div class="user-avt">
                            <img src="./images/tuat.jpg" alt="">
                        </div>
                        <div class="user-name">
                            <span class="name">tuat tran anh</span>
                            <span class="rating">
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                            </span>
                        </div>
                    </div>
                    <div class="user-rate-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ea iste, veritatis nobis amet illum, cum alias magni dolores odio, eius quo excepturi veniam ipsa voluptatibus natus voluptas vero? Aspernatur!
                    </div>
                </div>
                <div class="user-rate">
                    <div class="user-info">
                        <div class="user-avt">
                            <img src="./images/tuat.jpg" alt="">
                        </div>
                        <div class="user-name">
                            <span class="name">tuat tran anh</span>
                            <span class="rating">
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                            </span>
                        </div>
                    </div>
                    <div class="user-rate-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ea iste, veritatis nobis amet illum, cum alias magni dolores odio, eius quo excepturi veniam ipsa voluptatibus natus voluptas vero? Aspernatur!
                    </div>
                </div>
                <div class="box">
                    <ul class="pagination">
                        <li><a href="#"><i class="bx bxs-chevron-left"></i></a></li>
                        <li><a href="#" class="active">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="bx bxs-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <ProductList></ProductList>
        <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" />
    </div>
</div>
@code {
    [Parameter]
    public int id { get; set; }
    private Cart cart;
    private Product product;
    private List<ProductSize> List_Size{ get; set; }=new List<ProductSize>();

    public MetaData MetaData { get; set; } = new MetaData();
    private ProductParameters _productParameters = new ProductParameters();
    private async Task SelectedPage(int page)
    {
        _productParameters.PageNumber = page;
        await GetProducts();
    }
    protected override async Task OnParametersSetAsync()
    {
        product = new Product();
        var result = await _productSvc.Get(id);
        if (result.Success)
        {
            product = result.Data;
        }
        cart = new Cart() { Quantity = 1, Product = product};
        await GetProducts();
    }
    private async Task GetProducts()
    {
        await _productSvc.GetAll(_productParameters, product.ProductInCategories.FirstOrDefault().Category.Url);
        MetaData = _productSvc.Products.MetaData;
    }
    private async void AddToCart()
    {
        if (cart.SizeId == 0)
        {
            _toastSvc.ShowError("Mời chọn size!");
            StateHasChanged();
        }
        else
        {
            await _cartSvc.AddAsync(cart.ToCartStorage());
            _toastSvc.ShowSuccess($"Thêm thành công {cart.Product.Title} x{cart.Quantity}");
        }
    }
}
