
<div id="body">

    <button @onclick="OpenChat" id="chat-circle"  class="btn btn-raised">
        <div id="chat-overlay"></div>
        <i class="fab fa-rocketchat fa-2x"></i>
    </button>



    <div style="position:fixed;bottom:15px; right: 30px; width:450px; max-width:450px; display: @(showChat ? "block" : "none")" class="animate__bounceIn ">

    <div class="row d-flex justify-content-center">
            <div style="box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;  width:450px; max-width:450px;" class="">

        <div class="card" id="chat2">
          <div style="background-color:#f5f5f5" class="card-header d-flex justify-content-between align-items-center p-2">
            <h5 class="mb-0">Hộp thư hổ trợ</h5>
              <h5><i @onclick="CloseChat" style="cursor:pointer" class="far fa-times-circle"></i></h5>
          </div>
          <div class="card-body" id="chat-user" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px; overflow:auto">
                        @*https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp*@
                        @foreach (var item in ListChat)
                        {
                            @if (true)
                            {
                               var avt =  @item.UserChat.AvatarPath;
                                item.UserChat.AvatarPath = string.IsNullOrEmpty(avt) ? "/images/avatar.jpg" : avt;

                            }
                            if (item.Chat.IsMe)
                            {
                                  <div class="d-flex flex-row justify-content-end animate__backInUp">
                                          <div>
                                            <p class="p-2 me-3 mb-1 text-white rounded-3 bg-primary">@item.Chat.Message
                                            </p>
                                        <p class="me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">@item.Chat.Created.ToString("dd - HH:mm")</p>
                                          </div>
                                             <img src="@item.UserChat.AvatarPath"
                                                alt="avatar 1" style="width: 45px; height: 100%;">
                                   </div>
                            }
                                      
                            else{
                                    <div class="d-flex flex-row justify-content-start mb-1">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                            alt="avatar 1" style="width: 45px; height: 100%;">
                                          <div>
                                    <p class=" p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">@item.Chat.Message</p>
                                    <p class=" ms-3 mb-3 rounded-3 text-muted">@item.Chat.Created.ToString("dd - HH:mm")</p>
                                          </div>
                                        </div>
                            }
                               
                        }

          </div>
          <form @onsubmit="SendAsync" class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
          
            <input @bind="Message" type="text" class="form-control form-control-lg" 
              placeholder="Type message">
          
            <a class="ms-3" @onclick="SendAsync " href="#!"><i class="fas fa-paper-plane"></i></a>
          </form>
        </div>

      </div>
    </div>

  </div>

</div>