@page "/shipper"

<div class="row">
    <div class="col-12">
        <div class="card">

        <div class="card-body pt-3">
            <h2 class="mt-4 ml-3 mb-3 card-title" style="color:#012970">Đơn hàng được bàn giao</h2>

                <div class="container-fluid">
                    <div class="row my-5">
                        @foreach (var item in orders)
                        {
                           
                                 <div class="col-lg-12  ">
                                <RadzenCard Class="m-3">
                                    <h6  style="color:#012970">Mã đơn hàng <b>#@item.Id</b></h6>
                                    <RadzenCard Class="my-3 --rz-series-7  rz-shadow-0  rz-border-radius-0" style="margin: 0 calc(-1 * var(--rz-card-padding)); padding: 2rem; background-color:rgba(67, 64, 210, 0.12)">
                                        <RadzenText TextStyle="TextStyle.H6" Class="rz-color-primary-light"><strong>Thông tin người nhận</strong></RadzenText>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <RadzenText TextStyle="TextStyle.Overline" Class="rz-color-primary-light d-flex mt-3 mb-0">Họ và tên</RadzenText>
                                                <RadzenText TextStyle="TextStyle.Body1"><b>@(item.User?.FirstName + " " + item.User?.LastName)</b></RadzenText>
                                                <RadzenText TextStyle="TextStyle.Overline" Class="rz-color-primary-light d-flex mt-3 mb-0">Địa chỉ</RadzenText>
                                                <RadzenText TextStyle="TextStyle.Body1"><b>@(item.Address?.Street + ", " + item.Address?.Ward + ", " + item.Address?.District + ", " + item.Address?.City)</b></RadzenText>
                                            </div>
                                            <div class="col-md-6">
                                                <RadzenText TextStyle="TextStyle.Overline" Class="rz-color-primary-light d-flex mt-3 mb-0">Số điện thoại</RadzenText>
                                                <RadzenText TextStyle="TextStyle.Body1"><b>@(item.User?.PhoneNumber)</b></RadzenText>
                                                <RadzenText TextStyle="TextStyle.Overline" Class="rz-color-primary-light d-flex mt-3 mb-0">Tổng tiền</RadzenText>
                                                <RadzenText TextStyle="TextStyle.Body1"><b>@(item.PaymentMode != "CashOnDelivery" ? "Đã thanh toán" : item.TotalPrice)</b></RadzenText>
                                            </div>
                                        </div>
                                    </RadzenCard>
                                    <hr>
                                    <RadzenText TextStyle="TextStyle.H6" Class="rz-color-primary-light"><strong>Thông tin sản phẩm</strong></RadzenText>

                                    @foreach (var oderDetail in item.OrderDetails)
                                    {
                                        <div class="d-flex flex-row p-3">
                                            <hr>
                                            @{
                                                var path = oderDetail.Product.ProductImages.Count > 0 ? oderDetail.Product.ProductImages[0]?.ImagePath :  _config["BackendApiUrl"] + "/uploads/no-photo-available.png";
                                                
                                            }
                                            <RadzenImage Path="@path" Class="rounded-circle float-start me-3" Style="width: 100px; height: 100px;" />
                                            <div>
                                                <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-1 mb-0">Tên sản phẩm</RadzenText>
                                                <RadzenText TextStyle="TextStyle.Body1"><b>@oderDetail.Product?.Title x @oderDetail.Quantity</b></RadzenText>
                                                <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-1 mb-0">Giá sản phẩm</RadzenText>
                                                <RadzenText TextStyle="TextStyle.Body1"><b>@oderDetail.Product?.Price</b></RadzenText>
                                               
                                            </div>
                                        </div>
                                     }
                                    <div class="text-end">
                                        <RadzenButton Click="() => UpdateStatus(item.Id , OrderStatus.Processing,item.UserId, item.Shipper?.FirstName)" Icon="close" Variant="Variant.Flat" ButtonStyle="ButtonStyle.Danger" Text="Từ chối" Class="me-1" />
                                        <RadzenButton Click="() => UpdateStatus(item.Id , OrderStatus.Delivering,item.UserId, item.Shipper?.FirstName)" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Icon="check_circle" Text="Chấp nhận"  />
                                    </div>
                                </RadzenCard>

                            </div>
                           <hr />
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@code {
    @inject IConfiguration _config;

}
