
<style>
    .number {
        background-color: red;
        display: inline-block;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        text-align: center;
    }
</style>
<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">

    <li class="nav-item dropdown position-relative">
        <span style=" top: 6px; left: 61%;" class="position-absolute  translate-middle badge rounded-pill bg-danger">
            @notifications.Count(p => !p.IsRead)
            <span class="visually-hidden">unread messages</span>
        </span>
        <a class="nav-link dropdown-toggle " id="notiDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>


        </a>
        <div class="notifications dropdown-menu dropdown-menu-end" aria-labelledby="notiDropdown">
            <h2>Notifications - <span>@notifications.Count()</span></h2>
            @foreach (var item in notifications)
            {
                var isread = item.IsRead ? "read" : "unread";
                <a style="text-decoration:none" href="@item.DataUrl" class="notifications-item @isread">
                    <div class="text">
                        <h4>@item.Title <span style="color:grey; font-size:12px;    "> - @item.Created.ToString("dd/MM/yyyy HH:mm")</span></h4>
                        <p>@item.Message</p>
                    </div>
                </a>
            }
        </div>

    </li>
</ul>



   
    
