
<style>
    .number {
        background-color: red;
        display: inline-block;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        text-align: center;
    }
</style>

<li class="nav-item dropdown">

    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
        <i class="bi bi-bell"></i>
        <span class="badge bg-primary badge-number">@notifications.Count(p => !p.IsRead)</span>
    </a><!-- End Notification Icon -->

    <ul style="max-height:60vh; overflow:hidden; overflow-y:auto;" class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
        <li class="dropdown-header">
            Có @notifications.Count(p => !p.IsRead) thông báo mới
            <a @onclick="ReadAllNoti" href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">Đánh dấu tất cả là đã đọc đã đọc</span></a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>

      

        @foreach (var item in notifications)
        {
            var isread = item.IsRead ? "bi bi-check-circle text-success" : "bi bi-info-circle text-primary";
            <li style="cursor:pointer;" @onclick="() => ReadNoti(item)" class="notification-item">
                    <i class="@isread"></i>
                    <div>
                        <h4>@item.Title</h4>
                        <p>@item.Message</p>
                        <p>@item.Created.ToString("dd/MM/yyyy hh:mm")</p>
                    </div>
            </li>

            <li>
                <hr class="dropdown-divider">
            </li>
        }

    </ul><!-- End Notification Dropdown Items -->

</li><!-- End Notification Nav -->




   
    
